<br><br><br><br><br>
<div class=container>
<h2><ol class="list-group">City <%= @a %></h2>
	<li  class="list-group-item list-group-item-action"> Name_city:<span class="badge badge-dark badge-pill"><%= @city.name %><br></span></li>    
        <li  class="list-group-item list-group-item-action"> Author in this city:<span class="badge badge-dark badge-pill">
            <% User.where(city_id:@a).each do|p|%> <li  class="list-group-item list-group-item-action"><span class="badge badge-dark badge-pill"><%= p.last_name %></span>


        	
         <% end %>
        </li>
           
        </span>
        
        </li>				
	</li>
	</ol>
</div>